<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table form database</title>
    <link rel="stylesheet" href="{%static "css/style.css" %}" />
</head>

<body>
    <h1>Hello table
    </h1>
    <h2>here are your records</h2>
    <div class="djang2">
        {% if access_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>

            {% for acc in access_records % }
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.url}}</td>
                <td>{{acc.topic}}</td>
            </tr>
            { % endfor %}
        </table>
        {% else  %}
            <p>No table to show</p>
        {% endif %}
    </div>
</body>

</html>